//Cuerpo de la pagina
body {
    background-color: $background-color;
  }
  
  .parrafoydescripcion {
    font-size: $textSm;
    text-decoration: none;
    max-width: auto;
    min-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }

