// observaciones para el pie de pagina
footer{
    margin: 20px;
    padding: 30px;
    border-top: 3px solid $border-color;
    text-align: center;
    font-family: $font-family;
    font-size: small;
  }