//Todo para el Body
main {
    margin: 30px;
    padding: 40px;
  
    h1 {
      text-align: center;
      text-transform: $text-transform-uppercase;
      font-family: $font-family;
      padding-bottom: 20px;
    }
  
    h2 {
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center;
      text-transform: inherit;
      font-family: $font-family;
      padding-bottom: 10px;
    }
  
    h3 {
      font-family: $font-family;
      text-align: center;
      margin: 20px;
      font-size: $textMd;
    }
    h4 {
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center;
      text-transform: inherit;
      font-family: $font-family;
      padding-bottom: 10px;
      font-size: $textSm;
    }
  }

//extend
.btn-prueba{
  position: static;
  display: flex;
  justify-content: space-between;
  align-self: auto;
  padding: 1rem;
  border: 8px;
  text-align: center;
  background-image: linear-gradient(to right, rgb(53, 53, 212),rgb(8, 204, 204) );
  margin: 10px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: $white;
  border-radius: 10px;  
}
.btn-tratamientos{
  @extend .btn-prueba;
  display: block;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  position: relative;
  text-decoration: none;
  &:hover{
      background-image: linear-gradient(to right, rgb(16, 16, 163),rgb(34, 145, 145) );
      color:$keyColor;
  }
  &:active{
      color:$press-button-color;
  }
}

//botones del index
.btn-container {
  display: flex;
  text-decoration: none;
  justify-content: space-between; 
  flex-wrap: wrap;
  height: auto; 
  width: auto;
}

.btn {
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  width: calc(33.33% - 10px); 
  margin: 5px; // Espacio entre los botones
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f5f8;
  transition: background-color 0.3s ease;

  img {
    max-width: 100%;
    width: 50px;
    height: auto; 
    margin-bottom: 10px;
  }

  p {
    margin-top: 5px;
  }

  &:hover {
    background-color: #56cdf8; // Cambia el color de fondo al pasar el mouse
  }
}
