//Ajustes para los tratamientos

.contenedorGeneral {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center space-between;
  align-items: center; 
  max-width: 80%;
  
  
  @media screen and (max-width: 750px) {
    flex-direction: column; 
  }
}
.contenedorVideos {
  display: flex;
  @include position (relative, center, 0.5rem);
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start center;
  max-width: 100%;
  padding: 0.1rem;
  overflow: hidden;

  .video {
    max-width: 90%;
  }

  .texto {
    max-width: 100%;
    text-align: center;
  }

  // Para pantallas más grandes (1080px)
  @media screen and (min-width: 850px) {
    .video {
      max-width: 33%;
    }
  }

  // Para pantallas más pequeñas (menos de 700px)
  @media screen and (max-width: 700px) {
    flex-direction: column; // Apila los elementos verticalmente
    .video {
      max-width: 90%; 
    }
  }
}
    

.contenedorTratamientos {
  align-items: flex-start center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 50%;
  margin-block-start: 1rem;
  padding: 0.1rem;
  overflow: hidden;

  .imgTratamiento {
    margin: auto;
    max-width: 80%; 
    border: 1px solid rgb(172, 172, 172);
    height: auto;
  }

  .parrafoTratamiento {
    word-wrap: break-word;
    overflow: auto;
    text-overflow: ellipsis;
    position: relative;
    font-family: $font-family;
    height: auto;
  }
}
