//variables

//esquema de color
$mainColor: rgb(9, 110, 156);
$secondaryColor: rgb(105, 105, 105);
$keyColor: rgb(11, 11, 11);
$white: rgb(238, 233, 233);

//fonts
$mainFont: sans-serif;

//sizes textos
$testSm:0.8em;
$textMd:1em;
$textXl:2em;
$textXxl:3em;

//font weight
$fontLight:300;
$fontRegular:400;
$fontBold:700;

//p{
//    font-family: $mainFont;
//    font-size: $textMd;
//    font-weight: $fontBold;
//}

